.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loader {
  border: 5px solid #0f0;
  border-top-color: transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

