.group {
  padding-bottom: 2.5rem;
}
.question {
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 0.08rem;
}
.line {
  height: 0.05rem;
  width: 100px;
  background: #fff;
}
.answer {
  padding-top: 0.8rem;
  text-transform: lowercase;
  display: flex;
  align-items: center;
}

.answer a {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 200;
}
.answer h3 {
  font-weight: 500;
}
.contact {
  display: flex;
  align-items: center;
  font-size: 2rem;

  flex-wrap: wrap;
}
.contact strong {
  padding-right: 0.5rem;
}
.contact h3 {
  margin: 0;
}
@media (max-width: 480px) {
  .line {
    height: 0.1rem;
    width: 100px;
    margin-top: 0.3rem;
  }
  .question {
    font-size: 0.625rem;
  }
  .answer h3,
  .answer a,
  .contact {
    font-size: 1.5rem;
  }
}
