.hero {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: auto;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 5rem;
}
.text p {
  padding-bottom: 4rem;
}
.text h1 {
  text-transform: lowercase;
  line-height: 1.1;
  width: 100%;
}
.heading {
  width: 110%;
}

.heading span {
  position: relative;
  z-index: 1;
}
.heading h1 span:last-of-type > div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-5px, -50%);
  width: 100%;
  z-index: -1;
}
.decor {
  position: absolute;
  bottom: -10px;
  left: 0;
}
@media (max-width: 480px) {
  .text {
    text-align: left;
  }
  .hero {
    padding-top: 2rem;
  }
}
