.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  padding-bottom: 3rem;
}
.text p {
  padding-bottom: 5rem;
  padding-top: 1rem;
}
.text h1 {
  text-transform: lowercase;
  line-height: 1.1;
}
@media (width <= 480px) {
  .text {
    text-align: left;
  }
  .hero {
    padding-top: 2rem;
  }
}
.button {
}

.decor {
  position: absolute;
  bottom: -10px;
  left: 0;
}
