.waitlist {
  overflow: hidden;
}
.col {
  width: 50%;
  height: 100vh;
}
.col1 {
  background: url("/src/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center {
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.inner-wrapper {
  width: 85%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.text {
  padding-bottom: 2rem;
}
.text .headline {
  line-height: 1.2;
  font-weight: 800;
  padding-bottom: 10px;
}
.col2 {
  background: rgb(0, 0, 0);
  /* background-image: url() */
  display: flex;
}
.text small {
  text-transform: uppercase;
  color: var(--primary);
}
.col2 h2 {
  color: #fff;
  text-transform: lowercase;
  padding-top: 2rem;
  line-height: 1;
}
.socials {
  position: absolute;
  bottom: 30px;
}
@media (width <= 767px) {
  .col2 {
    display: none;
  }
  .col {
    width: 100%;
  }
  .inner-wrapper {
    padding-top: 4rem;
    width: 100%;
    align-items: center;
    padding-inline: 1rem;
    justify-content: space-between;
  }
  .col1 {
    padding-top: 1rem;
  }
}
