.container {
  min-height: 100vh;
  background: var(--black);
  color: #fff;
  width: 100%;
  text-align: center;
}
.wrapper {
  max-width: 85%;
  padding-top: 10vh;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding-inline: 1rem;
  justify-content: space-around;
}
.content img {
  width: clamp(250px, 100px + 0.5vw, 500px);
}
.text {
  padding: 2rem 0 3rem;
}
.button {
  color: #fff;
  border-bottom: 0.2rem solid #fff;
  text-transform: capitalize;
  margin-block: 1.5rem;
}

@media (max-width: 767px) {
  .wrapper {
    width: 100%;
  }
  .text {
    font-size: 2rem;
  }
}
