.cta {
  background: var(--black);
  color: #fff;
  padding-block: 3rem;
  width: 100%;
  margin-top: auto;
  position: relative;
  z-index: 3;
}
.decor {
  position: absolute;
  top: -2.5rem;
  left: -1rem;
  position: absolute;
  width: 110vw;
  height: 44px;
  background: #ffffff;
  transform: rotate(-1.5deg);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-inline: 3rem;
}
.content h2 {
  font-weight: var(--light-text);
}
.a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: white;
  display: flex;
  width: 50%;
}
.a:hover {
  color: var(--primary);
}
.arrow {
  width: 4rem;
}
@media (max-width: 600px) {
  .content {
    flex-direction: column;
    gap: 2rem;
  }
  .a {
    width: 100%;
    justify-content: flex-start;
    gap: 3rem;
  }
  .decor {
    top: -3rem;
  }
}
@media (max-width: 480px) {
  .arrow {
    width: 3rem;
  }
  .content {
    align-items: center;
  }
  .a {
    gap: 1rem;
  }
}
