.header {
  position: fixed;
  height: 3rem;
  inset: 2rem;
}
.nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.logo {
  width: 10rem;
  cursor: pointer;
}
.logo img {
  object-fit: contain;
  width: 100%;
}
