.header {
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  width: 100%;
  z-index: 4;
  position: fixed;
  transition: all 0.3s ease;
}
.scroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav {
  position: relative;
  width: 85%;
  margin-inline: auto;
  height: 100%;
}
.logo {
  cursor: pointer;
}
.logo img {
  object-fit: contain;
  width: 100%;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
}
@media (max-width: 480px) {
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
