.header {
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  /* background-image: url("/src/assets/bg.png"); */
  z-index: 100;
  position: fixed;
  transition: background-color 0.3s ease;

  /* background-image: url("/src/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat; */
}
.scroll {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav {
  position: relative;
  width: 85%;
  margin-inline: auto;
  height: 100%;
}
.logo {
  cursor: pointer;
}
.logo img {
  object-fit: contain;
  width: 100%;
}
.hamburger {
  display: none;
  font-size: 1.5rem;
}
@media (width <= 480px) {
  .desktop-menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
}
