.header {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}
.line {
  height: 0.05rem;
  width: 600px;
  background: var(--black2);
}
@media (max-width: 480px) {
  .line {
    height: 0.1rem;
    width: 100px;
    background: var(--black2);
  }
}
