@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary: #ccfb00;
  --black: #151515;
  --black2: #1e1e1e;
  --gray: #929292;
  --input-white: #f5f5f5;

  --h1-text: 4rem;
  --h2-text: 3rem;
  --h3-text: 2rem;
  --body-text: 1rem;
  --input-text: 0.75rem;

  --light-text: 300;
  --normal-text: 400;
  --bold-text: 800;

  --header-height: 4rem;
}

@media (width <= 767px) {
  :root {
    --h1-text: 3rem;
    --h2-text: 2.5rem;
    --h3-text: 1rem;
    --body-text: 0.9rem;
    --input-text: 0.75rem;
  }
}
@media (width <= 480px) {
  :root {
    --h1-text: 2.25rem;
    --h2-text: 2rem;
    --h3-text: 1rem;
    --body-text: 0.9rem;
    --input-text: 0.75rem;
  }
}
body {
  font-family: "Red Hat Display", sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-size: var(--body-text);
  z-index: 1;
}
a {
  text-decoration: none;
  font-size: var(--body-text);
  color: var(--black);
}
p {
  font-size: var(--body-text);
  font-weight: var(--normal-text);
}

h1 {
  font-size: var(--h1-text);
  font-weight: var(--bold-text);
  text-transform: capitalize;
  padding-bottom: 2rem;
}
h2 {
  font-size: var(--h2-text);
  font-weight: var(--normal-text);
  line-height: 1;
}
h3 {
  font-size: var(--h3-text);
  font-weight: var(--normal-text);
  line-height: 1.1;
}
ul,
li {
  list-style: none;
}
small {
  font-size: 13px;
}

button {
  font-size: var(--body-text);
  color: var(--black);
  border: none;
  background: transparent;
  cursor: pointer;
  border-bottom: 0.2rem solid var(--black);
}
input {
  outline: none;
  border: 1px solid var(--gray);
}
.global-content-wrapper {
  width: 85%;
  margin-inline: auto;
}
.global-header-padding {
  padding-top: calc(var(--header-height) + 3rem);
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
