.container {
  width: 100%;
  border: 1px solid var(--black);
  border-radius: 30px;
  outline: none;
  padding: 1.5rem 2rem;
  background: var(--input-white);
  margin-bottom: 2rem;
}

.col1 {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.col1 h3 {
  font-weight: 500;
}
.col1 p {
  text-transform: uppercase;
}
.btn-group {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.col1 button {
  border-radius: 30px;
  border: 1px solid var(--black2);
  background: #fff;
  padding: 5px 10px;
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.col1 button:hover,
.col1 button.active {
  background: #ccfb00;
}
.col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.icon {
  width: 3.5rem;
}
@media (max-width: 767px) {
  .icon {
    width: 2rem;
  }
  .col1 button {
    font-size: 12px;
  }
  .btn-group {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
