.container {
  background-color: white;
  background-image: url("/src/assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 6rem;
}

.text {
  position: relative;
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 3rem;
}

.button {
  padding-top: 3rem;
}
@media (width <= 767px) {
  .wrapper {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
@media (width < 480px) {
  .text {
    gap: 2rem;
  }
}
